body{
    background-color: black;
}

.background-img{
    position: absolute;
    margin-top: -8px;
    margin-left: -8px;
    width: 100%;
    height: 100%;
    background:url(./Assets/background.jpg) no-repeat;
    background-size: cover;
    filter: brightness(0.8);
}

.background-cloudy{
    position: absolute;
    margin-top: -8px;
    margin-left: -8px;
    width: 100%;
    height: 100%;
    background:url(./Assets/cloudy-background.jpg) no-repeat;
    background-size: cover;
    animation-name: backgroundTransition;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    filter: brightness(0.8) blur(2px);
}

.background-clear{
    position: absolute;
    margin-top: -8px;
    margin-left: -8px;
    width: 100%;
    height: 100%;
    background:url(./Assets/clear-background.jpg) no-repeat;
    background-size: cover;
    animation-name: backgroundTransition2;
    animation-duration: 2s;
    filter: brightness(0.8) blur(2px);
}

.background-snowy{
    position: absolute;
    margin-top: -8px;
    margin-left: -8px;
    width: 100%;
    height: 100%;
    background:url(./Assets/snowy-background.png) no-repeat;
    background-size: cover;
    animation-name: backgroundTransition3;
    animation-duration: 2s;
    filter: brightness(0.8) blur(2px);
}

.background-rainy{
    position: absolute;
    margin-top: -8px;
    margin-left: -8px;
    width: 100%;
    height: 100%;
    background:url(./Assets/rainy-background.jfif) no-repeat;
    background-size: cover;
    animation-name: backgroundTransition4;
    animation-duration: 2s;
    filter: brightness(0.8) blur(2px);
}

@keyframes backgroundTransition{
   0%{opacity: 0;}
   100%{opacity: 1;}
}
@keyframes backgroundTransition2{
    0%{opacity: 0;}
    100%{opacity: 1;}
 }
 @keyframes backgroundTransition3{
    0%{opacity: 0;}
    100%{opacity: 1;}
 }
 @keyframes backgroundTransition4{
    0%{opacity: 0;}
    100%{opacity: 1;}
 }

@font-face {
    font-family: "Coda";
    src: url(./Assets/Coda-Regular.ttf);
}

.allElements{
    background: rgba(0,212,255,0.4);
    font-family: "Coda";
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 500px;
    animation-name:allElements;
    animation-duration:0.8s;
    animation-fill-mode: forwards;
    color: black;
    border: solid black;
    bottom: -110px;
}
.allElementsFiveDayForecast{
    background: rgba(0,212,255,0.4);
    font-family: "Coda";
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 600px;
    animation-name:allElements;
    animation-duration:0.8s;
    animation-fill-mode: forwards;
    color: black;
    border: solid black;
    bottom: -60px;
}


@keyframes allElements{
    0% {transform:scale(0) rotate(0deg);}
    50% {transform:scale(1.3) rotate(20deg);}
    100% {transform:scale(1) rotate(0deg);}
}

.title{
    position:absolute;
    text-align: center; 
    position: relative;
    bottom: 365px;
}

.elements{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    left: 0px;
    right: 0px;
    bottom: 50px;
}

.elementsHide{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    left: 0px;
    right: 0px;
    bottom: 50px;
    opacity: 0;
}

.elements > p{
    width: 100px;
    text-align: center;
}

.weatherType{
    position: absolute;
    top: -300px;
    text-align: center;
}

.weatherExtras{
    position: absolute;
    left: 0px;
    bottom: 340px;
    font-size: 20px;
}

.weatherExtras > p{
    width: 100%;
    height: 1px;
    margin-left: 10%;
}

.weatherSunsetSunrise{
    position: absolute;
    bottom: 380px;
    right: 150px;
    display: flex;
    flex-wrap: wrap;
}

.weatherSunsetSunrise > p{
    padding-left: 20px;
}


#Date{
    margin-top: 0;
    padding-bottom: 10px;
    
}

.weatherExtras > h1{
    margin-bottom: 0;
    margin-left: 20px;
}

.submitCountry{
    position: absolute;
    margin-top: 121px;
    right: 5px;
    width: 100%;
}

.submitCountry > form > input{
    height: 30px;
    width: 100%;

}

.countryimg > img{
    right: 10px;
    top: 10px;
    position: absolute;
}

.removeFirstMessage{
    border: solid black;
    border-radius: 20px;
    background: rgba(45, 143, 89, 0.6);
    opacity: 0;
    position: absolute;
    bottom: 100px;
    animation-name: finishMessage;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
.removeFirstMessage > h1{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

@keyframes finishMessage {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.firstMessage{
    border: solid black;
    border-radius: 20px;
    background: rgba(45, 143, 89, 0.6);
    opacity: 0;
    position: absolute;
    bottom: 100px;
    animation-name: startMessage;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.firstMessage > h1{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

@keyframes startMessage {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.button5DayForecast{
    opacity: 1;
    position: absolute;
    top: 100px;
    right: 0;
}

.fiveDayForecast{
    border: solid black;
    height: 250px;
    width: 250px;
    position: absolute;
    color:blue;
    padding: 0px;
}

.fiveDayForecast > p{
    margin-top: 0px;
    margin-bottom: 0px;
}
